NODE_ENV=development
BOT_TOKEN=
GROUP_ID=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/yukmarkaz
REDIS_URL=redis://localhost:6379
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
PORT=9001
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
